/* For Dimension - 767px */
@media screen and (max-width:767px) {
    .nav_Bar {
        display: none;
    }

    .resIcon {
        display: flex;
        width: 30px;
        height: 18px;
    }
}

@media screen and (max-width:767px) {
    .cardsSection {
        flex-direction: column;
    }

    .featured {
        flex-direction: column;
    }
}

@media screen and (max-width:767px) {
    .socialMediaHandles {
        flex-direction: column;
    }
}